RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

Options +ExecCGI
AddType application/x-httpd-php .php .html
php_value auto_prepend_file "./script/function.php" 

